@model IEnumerable<DAL.Models.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout-admin.cshtml";
}
<div style="margin-left:120px;margin-top:100px;">

    <p>@Html.ActionLink("Thêm Slider", "AddSlider")</p><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.position)
                </td>
                <td>

                    @Html.ActionLink("Sửa", "EditSlider", new { id = item.Id })|
                    @Html.ActionLink("Xóa", "DeleteSlider", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>