@model IEnumerable<DAL.Models.Shop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout-admin.cshtml";
}

<div style="margin-left:120px;margin-top:100px;">
    <p>
        @Html.ActionLink("Thêm Chi Nhánh", "AddBranch")
    </p>
    </br>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gmail)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gmail)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "EditBranch", new { id = item.Id }) |
                    @Html.ActionLink("Xóa", "DeleteBranch", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>
