@model IEnumerable<DoAnCK.Models.AddBakeryViewModel>
@{
    ViewBag.Title = "demoCheckout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ hàng của bạn</h2>
<div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Hình</th>
                <th>Tên Bánh</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
            @{
                double total = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/HinhAnh/@item.nameimage" width="80" />
                    </td>
                    <td>@item.Bakeryname</td>
                    <td>@item.Price</td>
                    <td>@item.quantity</td>
                    <td class="text-right">
                        @{
                double tong = (double)
               @item.Price * @item.quantity;
                total += tong;
                        }
                        @Html.FormatValue(tong, "{0:#,##0} đ")
                    </td>
                </tr>
            }

            <tr>
                <td colspan="5" class="text-right">
                    <strong>
                        Tổng tiền: @Html.FormatValue(total,
"{0:#,##0} đ")
                    </strong>
                </td>
        </table>
        <p class="pull-left">
            <button class="btn btn-info" type="button" onclick="window.open('/Home/Shop','_self')">Tiếp tục mua hàng</button>
       </p>
        <p class="pull-left">
            <button class="btn btn-danger" type="button" onclick="window.open('/Home/AddBill','_self')">Đặt Hàng</button>
        </p>
    </div>
</div>