@using DAL.Models
@model DAL.Models.Bakery
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function clickitem(Id) {
        alert("Bạn vừa thêm bánh vào giỏ hàng");
        $.ajax({
            url: "/Home/AddItem",
            data: {

                id: Id

            },

            method: "POST",
            type: "POST",

            success: function (data) {
                console.log(data);
                changeimagesgallery(data);
                alert("Data Uploaded: ");
            }
        });
    }


</script>

<link rel="stylesheet" href="~/Content/etalage.css">
<script src="~/Scripts/jquery.etalage.min.js"></script>
<script src="~/Scripts/jquery.flexisel.js"></script>
<div class="single">
    <div class="wrap">
        <div class="cont span_2_of_3">
            <div class="labout span_1_of_a1">
                <!-- start product_slider -->
                <ul id="etalage" class="etalage" style="display: block; width: 314px; height: 552px;">      
                    <li class="etalage_thumb thumb_6 etalage_thumb_active" style="background-image: none; display: list-item; opacity: 1;">
                        <img src="~/HinhAnh/@Html.DisplayFor(model => model.images.nameImage)" style="display: inline; width: 300px; height: 300px; opacity: 1;">
                        <img class="etalage_source_image" src="~/images/t6.jpg">
                    </li>
                </ul>

                <!-- end product_slider -->
            </div>
            <div class="cont1 span_2_of_a1">
                <div class="price_single">
                    <span class="actual">Tên Bánh: @Html.DisplayFor(model => model.Name)</span>
                </div>

                <h3 class="m_3">Giá: @Html.DisplayFor(model => model.Price)</h3>
                <h3 class="m_3">Ngày Đăng: @Html.DisplayFor(model => model.ngaypost)</h3>
                <h3 class="m_3">VAT: @Html.DisplayFor(model => model.VAT)</h3>
                <h3 class="m_3">Kích cỡ: @Html.DisplayFor(model => model.size)</h3>
                <div class="btn_form">
                    <form>
                        <input type="submit" value="Thêm Vào Giỏ" onclick="clickitem('@Model.ID')" title="">
                    </form>
                </div>
               

                <div class="social_single">
                    <ul>
                        
                    </ul>
                </div>
            </div>
            <div class="clear"></div>


            <div class="nbs-flexisel-container">
                <div class="nbs-flexisel-inner">




                </div>
            </div>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel();
                    $("#flexiselDemo2").flexisel({
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                    $("#flexiselDemo3").flexisel({
                        visibleItems: 5,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript" src="~/Scripts/jquery.flexisel.js"></script>
            <div class="toogle">

            </div>
            <div class="toogle">

            </div>
        </div>
        <div class="clear"></div>

    </div>
</div>