@model IEnumerable<DoAnCK.Models.BakeryRateMean>
@using DoAnCK.Models
@using DAL.Models
@{
    ViewBag.Title = "Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";}

@*<script>
        function clickitem()
        {
            $.ajax({
                url:"/Home/topxephangngay",
            data:{

            },
            method: "POST",
                type:"POST"
            });
        }
    </script>*@
<table class="table">
    <tr>
        <th>
            <h1 <p style="text-align:center">  </p> </h1>
            <li style="display: inline-block; margin-left:60px;font-size:30px">
                @*<input type="submit" value="Theo ngày"  onclick = "clickitem()"  />*@
                @Html.ActionLink("Theo ngày", "RateDay")

            </li>

            <li style="display: inline-block;margin-left:180px;font-size:30px">
                @Html.ActionLink("Theo tháng", "RateMonth")

            </li>
            <li style="display: inline-block;margin-left:120px;font-size:30px">
                @Html.ActionLink("Theo năm", "RateYear")

            </li>
        </th>


    </tr>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @{
        var dem = ViewBag.stt;
        foreach (var item in Model)
        {
            dem = dem + 1;
            <div style="margin-left:40px">

                <ul>

                    <td> <h3 style="color:darkorange;font-family:'Bookman Old Style'">@dem : @item.bakery.Name</h3></td>

                    <tr>
                        <td>
                            @if (item.bakery.images != null)
                            {
                                <a style="margin-left:300px" href="~/Home/Details/@item.bakery.ID">  <img src="~/HinhAnh/@item.bakery.images.nameImage" alt="" width="410" height="200"></a>
                            }
                        </td>

                        <td>

                            <div style="margin-right:250px">
                                <h3 class="fa fa-star" style="font-size:x-large"> Rating: @Math.Round(item.damp_mean, 2) </h3><br />



                                @if (@item.damp_mean > 4)
                {
                                    <h3 class="fa fa-thumbs-o-up" style="font-size:x-large"> Quality: Good </h3>
                                }
                                else if (@item.damp_mean >= 3 && @item.damp_mean <= 4)
                                {
                                    <h3 class="fa fa-thumbs-o-up" style="font-size:x-large">
                                        Quality:  Normal
                                    </h3>
                                }
                                else if (@item.damp_mean == 0)
                                {
                                    <h3 class="fa fa-thumbs-o-up" style="font-size:x-large">
                                        Quality:No Rating
                                    </h3>
                                }
                                else
                                {
                                    <h3 class="fa fa-thumbs-o-up" style="font-size:x-large">
                                        Quality: Bad
                                    </h3>
                                }
                                @*<h3 class="fa fa-user-times" style="font-size:x-large">Rating Date:  @item.rating.ngayrate.Day</h3>*@
                            </div>
                        </td>
                    </tr>







                </ul>

            </div>
        }
    }

</table>
<div style="margin-left:120px;margin-bottom:200px;">
    <div class="pull-right">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg">

                @if (ViewBag.currentpage != 1)
            {
                    <li class="page-item"><a class="page-link" href="/Home/RateAll/?page=@(ViewBag.currentpage-1)">Previous</a></li>
                }
                @for (var i = 0; i < 3 && i + ViewBag.currentpage <= ViewBag.numberpage; ++i)
            {
                    <li class="page-item @(i==0? "active":"" )"><a class="page-link " href="/Home/RateAll/?page=@(i+ViewBag.currentpage)">@(i + ViewBag.currentpage)</a></li>
                }


                @if (ViewBag.currentpage != ViewBag.numberpage && ViewBag.numberpage != 0)
            {
                    <li class="page-item"><a class="page-link" href="/Home/RateAll/?page=@(ViewBag.currentpage+1)">Next</a></li>
                }

            </ul>
        </nav>
    </div>
</div>








