@model IEnumerable<DAL.Models.Bakery>
@using DAL.Models
@{
    ViewBag.Title = "Shop";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function clickitem(Id) {
        alert("Bạn vừa thêm bánh vào giỏ hàng");
        $.ajax({
            url: "/Home/AddItem",
            data:{
                
                id:Id
                
            },

            method: "POST",
            type: "POST",

            success: function (data) {
                console.log(data);
                changeimagesgallery(data);
                alert("Data Uploaded: ");
            }
        });
    }


</script>

@using (Html.BeginForm("Shop", "Home", FormMethod.Get))
{
    @*<p>
       Chọn Loại: @Html.DropDownList("listCate", "All")

        <input type="submit" value="Chọn" />
    </p>*@

<div class="login">
    <div class="wrap">
        <div class="box1">
            <h3 style="text-align:center;color:darkorange;font-size:xx-large"> Các Loại Bánh</h3>
            @foreach(var item in Model)
            {

                <div class="col_1_of_single1 span_1_of_single1">
                    <a>
                        <div class="view1 view-fifth1">
                            <div class="top_box">
                                <h3 class="m_1">@item.Name</h3>
                                <div class="grid_img">
                                    @if (item.images != null)
                                    {
                                    <div class="css3"><img src="~/HinhAnh/@item.images.nameImage" alt="" width="410" height="200"></div>  
                                    }
                                    <div class="mask1">
                                        <div class="info">@Html.ActionLink("Chi Tiết", "Details", new { id = @item.ID })</div>
                                    </div>
                                </div>
                                <div class="price">Giá:@item.Price</div>
                            </div>
                        </div>

                    </a><ul class="list2">
                            <a  onclick="clickitem(@item.ID)">
                            </a>
                        <li>
                            <a href="single.html">
                                <img src="~/images/plus.png" alt="">
                            </a><ul class="icon1 sub-icon1 profile_img">
                                <li>
                                    <a id="add_bag" onclick="clickitem('@item.ID')">Thêm Vào Giỏ Hàng</a><a class="active-icon c1" id="" ></a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            }
            <div class="clear"></div>
        </div>
    </div>
    <div class="pull-right">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg">
                @if (ViewBag.currentpage != 1) {
                <li class="page-item"><a class="page-link" href="/Home/Shop/page=@(ViewBag.currentpage-1)">Previous</a></li>
                }
             @for (var i = 0; i < 2&&i+ViewBag.currentpage <= ViewBag.numberpage; i++) {
                <li class="page-item @(i==0? "active":"" )"><a class="page-link " href="/Home/Shop/page=@(i+ViewBag.currentpage)">@(i+ ViewBag.currentpage)</a></li>
             }


                @if (ViewBag.currentpage != ViewBag.numberpage) {
                <li class="page-item"><a class="page-link" href="/Home/Shop/page=@(ViewBag.currentpage+1)">Next</a></li>
                    }
            </ul>
        </nav>

    </div>
    <div class="clear"></div>
</div>
}
