@model DoAnCK.Models.AddBakeryViewModel
<div style="margin-left:120px;margin-top:100px;">
    @{
        ViewBag.Title = "Add Bakery";
        Layout = "~/Views/Shared/Layout-admin.cshtml";
    }

    @using (Html.BeginForm("AddBakery", "Bakery", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.ID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID)
                    @Html.ValidationMessageFor(model => model.ID)
                </div>
            </div>

            <div class="form-group">
             <p>Nhập Vào Tên Bánh :</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bakeryname)
                    @Html.ValidationMessageFor(model => model.Bakeryname)
                </div>
            </div>

            <div class="form-group">
                <p>Nhập Vào Giá Bánh :</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price)
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>

            <div class="form-group">
                <p>Nhập Vào Số Lượng Bánh :</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.quantity)
                    @Html.ValidationMessageFor(model => model.quantity)
                </div>
            </div>

            <div class="form-group">
              <p>Chọn Loại Bánh :</p>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.category_id)
                    @Html.DropDownListFor(model => model.category_id, new SelectList(ViewBag.listcategory, "Id", "Name"))

                </div>
            </div>
            <div class="form-group">
                
                <img src="~/HinhAnh/abc.jpg" style="width:30%;height:150px" class="mfp-image-holder" id="image-show" />

                @{ Html.RenderAction("GalleryPicker", "Admin");}

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tạo" class="btn btn-info" />
                </div>
            </div>
        </div>

      
            }
  
    <div>
        @Html.ActionLink("Trở về", "Index")
    </div>
</div>